@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{ Layout = "childPageLayout.cshtml";
    Html.RequiresCss("~/css/pages/contact-us.css", 2);
    Html.RequiresJs("~/scripts/pages/contact_form.js", 2);
    var pageDescription = Model.Value("pageDescription");
    var contactBoxTitle = Model.Value("contactBoxTitle");
    var address = Model.Value("address");
    var email = Model.Value("email");
    var phone = Model.Value("phone");
    var fax = Model.Value("fax"); }

@* the fun starts here *@
<div class="contact-us-container row">
    <div class="page-description">@pageDescription</div>
    <div class="form-message col-md-6 col-xs-12">
        <div class="form">
            <form method="post" id="contact-page-form">
                <div class="row clearfix">

                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <input type="text" name="name" value="" placeholder="@Umbraco.GetDictionaryValue("Name")" required="required">
                    </div>

                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <input type="email" name="email" value="" placeholder="@Umbraco.GetDictionaryValue("Email")" required="required">
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <input type="text" name="subject" value="" placeholder="@Umbraco.GetDictionaryValue("Subject")" required="required">
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <textarea name="cmessage" placeholder="@Umbraco.GetDictionaryValue("Message")" required="required"></textarea>
                    </div>
                    <div class="captcha form-group col-md-12 col-sm-12 col-xs-12">
                        <span id="numX">8</span>
                        <span>+</span>
                        <span id="numY">8</span>
                        <span>=</span>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <input type="text" id="contact-us-capcha" name="capcha" value="">
                    </div>
                    <div class="send-button form-group col-md-12 col-sm-12 col-xs-12">
                        <input type="submit" name="submit" id="submit" class="theme-btn btn-style-three" value="@Umbraco.GetDictionaryValue("Submit")"></input>
                    </div>
                </div>
                <div class="message">
                    <span class="cresponse" id="cresponse"></span>
                </div>
            </form>

        </div>
    </div>
    <div class="contact-information col-md-6 col-xs-12">
        <div class="contact-info">
            <div class="info-item">
                <div class="text-box">
                    <p>@Html.Raw(address)</p>
                </div>
            </div>
            <div class="info-item">
                <div class="icon-box">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div class="text-box">
                    <p>@Umbraco.GetDictionaryValue("Email"): <a href="mailto:@email" title="email">@email</a></p>
                </div>
            </div>
            <div class="info-item">
                <div class="item-box">
                    <div class="icon-box">
                        <i class="fas fa-phone-alt" aria-hidden="true"></i>
                    </div>
                    <div class="text-box">
                        <div class="phone">
                            <p><span>@Umbraco.GetDictionaryValue("Phone"):&nbsp;</span><span class="number-format-arabic">@phone</span></p>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="icon-box">
                        <i class="fas fa-phone-alt" aria-hidden="true"></i>
                    </div>
                    <div class="text-box">
                        <div class="fax">
                            <p><span>@Umbraco.GetDictionaryValue("fax"):&nbsp;</span><span class="number-format-arabic">@fax</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
