@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{ Layout = null; }
@{ Html.RequiresCss("~/css/lib/bootstrap.min.css", 1);
    Html.RequiresCss("~/css/lib/all.min.css", 1);
    Html.RequiresCssFolder("~/css/common/", 1);
    //Html.RequiresCss("~/css/rte.css", 3);


    Html.RequiresJs("~/scripts/lib/jquery.min.js", 1);
    Html.RequiresJs("~/scripts/lib/bootstrap.min.js", 1);
    Html.RequiresJs("~/scripts/lib/all.min.js", 1);
    Html.RequiresJsFolder("~/scripts/common/", 1);

    Html.RequiresJsFolder("~/scripts/load-last/", 3);

    var home = Model.Root();
    string titleValue = "";
    if (Model.HasValue("pageTitle"))
    {
        titleValue = Model.Value<string>("pageTitle");
    }
    string title = titleValue; // titleValue.Length > 0 ? titleValue : Model.Name;
    var language = System.Threading.Thread.CurrentThread.CurrentCulture.Name;

    }

<!doctype html>
<!--[if gt IE 8]><!-->
<html class="no-js" lang="@language">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
    <meta name="description" content="@Model.Value("seoMetaDescription")">
    <meta name="keywords" content="@string.Join(", ", Model.Value<String[]>("keywords"))">
    <meta name="msvalidate.01" content="">

    <title>@title | @home.Value("companyName")</title>
    @Html.Raw(Html.RenderCssHere())
    
</head>
<body>
    
    <header class="site-header">
        @{ Html.RenderPartial("Layout/Header"); }
    </header>
    <main class="site-content">
        @RenderBody()
    </main>
    <footer class="site-footer">
        @{ Html.RenderPartial("Layout/Footer"); }
    </footer>
    <script type="text/javascript" src="https://asia.tools.euroland.com/tools/common/eurolandiframeautoheight/eurolandtoolsintegrationobject.js"></script>
    @Html.Raw(Html.RenderJsHere())
</body>
</html>
